/*CSS file for the wether site*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css')
/*
1. General Rules
2. Mobile
3. Screen
*/



/* 1. General Rules */
{
    box-sizing: border-box;
}
*:before, *:after{
    box-sizing: border-box;
}

body{
    font-family: helvetica arial sans-serif;
    font-size: 18px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

header p {
    font-size: 2em;
    font-weight: 600;
}


/* 2. Mobile */

nav {
    position: fixed;
    bottom: 0;
    left: 0;
}

footer{
    margin-bottom: 2em;
}

.logo{
    height: 500px;
    width: 500px;
}


/* 3. Screen */
